<mat-card>

  <!-- Trip Selector -->
  <mat-form-field>
    <mat-label>Select Trip</mat-label>
    <mat-select [(ngModel)]="selectedTrip">
      <mat-option *ngFor="let trip of trips" [value]="trip">
        {{ trip.destination }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>

<mat-card *ngIf="selectedTrip" style="margin-top: 20px;">
  <h3>{{ selectedTrip.destination }} - Expense Breakdown</h3>

  <canvas
    style="max-width: 300px; max-height: 300px;"
    baseChart
    [data]="pieChartData"
    [type]="'pie'">
  </canvas>
</mat-card>
